In [11]:
import pandas as pd
def look(Brigade,Battalion):
    Br=Brigade
    Ba=Battalion
    return df.loc[(df['Brigade'] ==Br) & (df['Battalion'] ==Ba) & turn==turn]

df = pd.read_csv(r'C:\Users\jimmy\OneDrive\Desktop\FP_tool\unit_sample.csv')
df['Turn']=0

In [147]:


units = int(input("Enter the number of units:"))
turn = int(input("Enter the turn number:"))

for _ in range(units):
    ubr = input("Enter Brigade")
    uba = input("Enter Battalion {}".format(ubr))
    print ('The current unit strength is: \n',look(int(ubr),int(uba)))
    s = input("Enter strength for {} brigade {} battalion".format(ubr,uba))
    df1 = pd.DataFrame(data=[[ubr,uba,s,turn]],columns=["Brigade", "Battalion", "Strength","Turn"])
    df = pd.concat([df,df1], axis=0)

df.index = range(len(df.index))
print (df)
#write to csv
#implement roll and then have it subtract atttrition from current value

Enter the number of units:2
Enter the turn number:1
Enter Brigade1
Enter Battalion 11
The current unit strength is:
    Brigade  Battalion Type  Strength Color  Turn  Firepower
0        1          1  MRB       100  BLUE     0        599
Enter strength for 1 brigade 1 battalion50
Enter Brigade1
Enter Battalion 12
The current unit strength is:
   Brigade Battalion Type Strength Color  Turn  Firepower
1       1         2  MRB      100  BLUE     0      743.0
Enter strength for 1 brigade 2 battalion65
   Brigade Battalion Type Strength Color  Turn  Firepower
0        1         1  MRB      100  BLUE     0      599.0
1        1         2  MRB      100  BLUE     0      743.0
2        1         3  MRB      100  BLUE     0      602.0
3        1         4  MRB      100  BLUE     0      540.0
4        2         1  TAB      100  BLUE     0      878.0
5        2         2  TAB      100  BLUE     0      528.0
6        2         3  TAB      100  BLUE     0      913.0
7        2         4  TAB      100  BLUE     0      717.0
8       51         1  MRB      100   RED     0      513.0
9       51         2  MRB      100   RED     0      551.0
10      51         3  MRB      100   RED     0      589.0
11      51         4  MRB      100   RED     0      610.0
12      52         1  MRB      100   RED     0      586.0
13      52         2  MRB      100   RED     0      979.0
14      52         3  MRB      100   RED     0      773.0
15      52         4  MRB      100   RED     0      513.0
16       1         1  NaN       50   NaN     1        NaN
17       1         2  NaN       65   NaN     1        NaN

In [150]:
df1

  Brigade Battalion Strength  Turn
0       1         2       65     1

P34 is the roll

P26 is percent ratio (eg. .55), R26 is .45


MIN((P34/100)*(100/(P26*100)*(P26*(100/(P26*100)*0.5))),1)

MIN(1,(1-(P34/100))*(100/(R26*100))*(R26*(100/(R26*100))*0.5))

In [2]:
import random
roll=random.randrange(1,100)
#firepower column
#create ratio by comparing firepowers in the lookup

In [3]:
roll

18

In [43]:
import numpy as np
df['Firepower']=np.random.randint(500,1000,size=16)

In [44]:
df

    Brigade  Battalion Type  Strength Color  Turn  Firepower
0         1          1  MRB       100  BLUE     0        599
1         1          2  MRB       100  BLUE     0        743
2         1          3  MRB       100  BLUE     0        602
3         1          4  MRB       100  BLUE     0        540
4         2          1  TAB       100  BLUE     0        878
5         2          2  TAB       100  BLUE     0        528
6         2          3  TAB       100  BLUE     0        913
7         2          4  TAB       100  BLUE     0        717
8        51          1  MRB       100   RED     0        513
9        51          2  MRB       100   RED     0        551
10       51          3  MRB       100   RED     0        589
11       51          4  MRB       100   RED     0        610
12       52          1  MRB       100   RED     0        586
13       52          2  MRB       100   RED     0        979
14       52          3  MRB       100   RED     0        773
15       52          4  MRB       100   RED     0        513

In [74]:
b=look(1,1)['Firepower']
r=look(51,1)['Firepower']

In [60]:
look(1,1)['Firepower'],look(51,1)['Firepower']

(0    599
 Name: Firepower, dtype: int32,
 8    513
 Name: Firepower, dtype: int32)

In [54]:
x=look(1,1)['Firepower']

In [70]:
e1=x[0]

In [117]:
#COFM
#now make ratio
cofm=b.item()/r.item()
bratio=b.item()/(b.item()+r.item())

In [107]:
(1/cofm)/cofm

0.7334678554407595

In [118]:
bratio

0.5386690647482014

In [122]:
((roll/100)(100/(bratio*100)
            (bratio(100/(bratio*100)*0.5))))

TypeError: 'float' object is not callable

In [131]:
((roll/100)*(100/(bratio*100)))/(bratio*(100/(bratio*100)*0.5))

0.668313856427379

In [129]:
(bratio*(100/(bratio*100)*0.5))

0.5

In [114]:
599/(599+513)
#(599/513)/(513/599)

0.5386690647482014

In [76]:
b[0]
r[0]

KeyError: 0

In [72]:
e1*e1

358801

In [86]:
r

8    513
Name: Firepower, dtype: int32

In [87]:
b1=look(1,1)['Firepower']

In [102]:
b1.item()*b1.item()

358801

In [94]:
e1=look(1,1)

In [99]:
e1

   Brigade  Battalion Type  Strength Color  Turn  Firepower
0        1          1  MRB       100  BLUE     0        599

In [165]:
bunits = int(input("Enter the number of units:"))
turn = int(input("Enter the turn number:"))
bdf2 = pd.DataFrame(data=None,columns=["Brigade", "Battalion", "Firepower","Turn"])

for _ in range(bunits):
    #Set roll range here, later we can adjust for type for attack/defense
    #roll=random.randrange(1,100)
    ubr = input("Enter Brigade")
    uba = input("Enter Battalion {}".format(ubr))
    
    #Load in cofm, we need to do this for each engagement now
    #Just restructure to load in blue first and then load red
    #Then do the battle roll, then apply attrition
    
    print ('The current unit strength is: \n',look(int(ubr),int(uba)))
    fp=look(int(ubr),int(uba))['Firepower'].item()
    #s = input("Enter strength for {} brigade {} battalion".format(ubr,uba))
    bdf1 = pd.DataFrame(data=[[ubr,uba,fp,turn]],columns=["Brigade", "Battalion", "Firepower","Turn"])

    bdf2 = pd.concat([bdf1,bdf2], axis=0)

    
    
bdf2.index = range(len(bdf2.index))
print (bdf2, "Is this correct for blue?")





#write to csv
#implement roll and then have it subtract atttrition from current value

Enter the number of units:2
Enter the turn number:1
Enter Brigade2
Enter Battalion 21
The current unit strength is:
   Brigade Battalion Type Strength Color  Turn  Firepower
4       2         1  TAB      100  BLUE     0      878.0
Enter Brigade2
Enter Battalion 22
The current unit strength is:
   Brigade Battalion Type Strength Color  Turn  Firepower
5       2         2  TAB      100  BLUE     0      528.0
  Brigade Battalion  Firepower Turn
0       2         2      528.0    1
1       2         1      878.0    1

In [168]:
bdf2['Firepower'].sum()

1406.0

In [ ]:
runits = int(input("Enter the number of units:"))
turn = int(input("Enter the turn number:"))

for _ in range(runits):
    #Set roll range here, later we can adjust for type for attack/defense
    roll=random.randrange(1,100)
    ubr = input("Enter Brigade")
    uba = input("Enter Battalion {}".format(ubr))
    
    #Load in cofm, we need to do this for each engagement now
    #Just restructure to load in blue first and then load red
    #Then do the battle roll, then apply attrition
    b=look((int(ubr),int(uba))['Firepower'])
    r=look((int(ubr),int(uba))['Firepower'])
    bratio=b.item()/(b.item()+r.item())
    cofm=b.item()/r.item()    
    
    print ('The current unit strength is: \n',look(int(ubr),int(uba)))
    s = input("Enter strength for {} brigade {} battalion".format(ubr,uba))
    df1 = pd.DataFrame(data=[[ubr,uba,s,turn]],columns=["Brigade", "Battalion", "Strength","Turn"])
    df2 = pd.DataFrame(data=[[ubr,uba,s,turn]],columns=["Brigade", "Battalion", "Strength","Turn"])
    df = pd.concat([df,df1], axis=0)